<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <h2>{{title}}</h2>
    <!-- Required meta tags -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <body style="background: #c9ccccc5;"></body>
</head>

        
        <div class="container">
        
          <iframe src="https://colab.research.google.com/github/Gabuchev/Apartments-in-Moscow---The-simplest-recommendation-system/blob/main/Rec.Sys.ipynb" width="100%" height="400" frameborder="0" scrolling="no"></iframe>
                    
        </div>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
  </body>
  </html>

 
  

  